.lift {

    color : white ;
    background-color: rgb(27, 149, 224) ;
    padding-left: 10% ;
    height: 100vh ;
}
.twit {
 font-size: 200% ;
}

.right {
    height: 100vh ;
    background-color: white ;
}
.list {
    list-style: none;
    padding-top: 50% ;
    font-size: 20px ;
}
.s {
  border-radius: 30px ;

}
.down{
    padding-top: 20px ;
    width: 60% ;
    margin: 5% auto ;
}

.up {
    width : 60% ;
    margin: 5% auto ;
    margin-top: 110px ;
}

.twit {
    font-size: 20px ;
}

.but {
    border-radius: 30px ;
}

.log {
  float: unset ;
}

.foot-list li {
    display: inline-block;
    position: relative;
    font-size: 15px ;
    padding-top: 8px ;
    padding-left: 6px ;
}

.down-f {
    background-color:#fff ;
}
